<footer>
  <div class="container-fluid">
    <div class="row">
      <img src="./assets/images/header/Logo-SV.svg" class="my-3" alt="" />
    </div>
    <div class="foot">
      <div class="mt-3">
        <div>How To Top Up</div>
        <div>Location</div>
        <div>Contact Us</div>
      </div>
      <div class="midcol mt-3">
        <div>© 2023, Supreme Ventures Gaming</div>
        <div>
          Supreme Ventures Gaming is a registered trademark of Prime Sports
          Jamaica Limited [PSJL]
        </div>
        <div>
          Prime Sports Jamaica Limited is a wholly owned subsidiary of Supreme
          Ventures Gaming
        </div>
        <div>Address - 9A Retirement Crescent, Kingston 5. Jamaica WI.</div>
        <div>Phone: 1 876 754-6526 Email: info@supremegames.com.</div>
      </div>
      <div class="mt-3">
        <div>Terms & Conditions</div>
        <div>Privacy Policy</div>
        <div>All Rights Reserved</div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <img src="./assets/images/header/facebook.svg" class="m-2" alt="" />
        <img src="./assets/images/header/instagram.svg" class="m-2" alt="" />
        <img src="./assets/images/header/twitter.svg" class="m-2" alt="" />
        <img src="./assets/images/header/youtube.svg" class="m-2" alt="" />
      </div>
    </div>
  </div>
</footer>
