<div class="registeration">
  <div class="out-container">
    <div>Registration</div>
    <div class="imgc">
      <img src="./assets/images/register/signup-1.png" />
    </div>
  </div>
  <div class="formContainer">
    <div class="info1">Registration</div>
    <div class="forms">
      <form [formGroup]="Verification" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <div class="inputGroup">
            <input
              type="number"
              required
              autocomplete="off"
              name="mobile"
              id="myInput"
              formControlName="verfcode"
            />
            <label for="mobile"
              >Verification Code
              <span class="asterick text-danger">*</span></label
            >
            <span
              class="warn"
              *ngIf="verfcode && verfcode.invalid && verfcode.touched"
            >
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </span>
          </div>
          <div class="inputGroup d-flex">
            <input
              type="number"
              required=""
              autocomplete="off"
              placeholder="optional"
              name="referal"
              id="myReferal"
              class="w-100"
              formControlName="Refferal"
            />
            <label for="referal">Refferal Code</label>
            <button class="btn clear" type="reset">Clear</button>
          </div>
        </div>
        <div class="verify">Verification code successfully sent.</div>
        <div
          class="btnContainer d-flex justify-content-between align-items-center w-100"
        >
          <button type="button" class="btn btn1 text-white w-50">
            Resend Code
          </button>
          <button type="submit" class="btn btn2 bg-success text-white w-50">
            Verify Code
          </button>
        </div>
        <button
          type="button"
          class="btn w-100 btn3 bg-secondary text-white w-50"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
