.registeration {
  background: url("assets/images/register/background.b5b1c30cc875653fe9c7.png")
    center center/cover no-repeat fixed;
  background-repeat: repeat;
  background-position: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.out-container {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--green);
  max-width: 550px;
}
.out-container div {
  font-size: 24px;
  margin-bottom: 25px;
}
.out-container div img {
  max-width: 100%;
}
.formContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background: #fff;
  padding: 35px !important;
  border: 3px solid #269c2f;
  margin-top: 10px;
  /* min-width: 450px; */
  width: 29vw;
}
.formContainer .info1 {
  color: var(--green);
  font-size: 19px;
  margin-bottom: 12px;
  text-align: center;
}

form {
  width: 100%;
  position: relative;
}
form .input-container {
  width: 100%;
}
.inputGroup {
  margin: 1rem 0 1rem 0;
  width: 100%;
  position: relative;
}
form .inputGroup .note {
  position: absolute;
  right: 0;
  font-size: 15px;
}
.warn {
  color: var(--red);
  font-size: 10px;
}

form .inputGroup input {
  padding: 0.5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #d4d4d4;
  font-size: 14px;
  color: #777;
  width: 100%;
  border-radius: 5px;
  font-size: 14px !important;
  letter-spacing: 0.4px !important;
  height: 45px !important;
  margin-bottom: 0.3rem;
}
form .verify {
  font-size: 1rem;
  text-align: center !important;
}
form .inputGroup input:focus {
  border: 1px solid var(--green);
}

form .inputGroup label {
  transform: translateY(-50%) scale(0.9);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  margin-left: 0.5rem;
  color: #389140;
  background: #fff;
  border-color: #279c31;
}
form .btnContainer .btn {
  margin: 15px 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  height: 45px;
}
form .btnContainer .btn1 {
  background: var(--orange);
}
form .btn3 {
  max-width: 97.8%;
  margin-left: 5.8px;
  height: 45px;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.clear {
  background: var(--orange);
  color: #fff;
  padding: 4px 30px;
  height: 45px;
  margin-left: 12px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.timer {
  font-size: 14px;
  font-weight: 400;
}
@media only screen and (max-width: 992px) {
  .registeration {
    background: url("assets/images/register/background.b5b1c30cc875653fe9c7.png")
      center center/contain fixed;
    background-repeat: repeat;
    background-position: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background: #fff;
    padding: 15px !important;
    border: 3px solid #269c2f;
    margin-top: 10px;
    width: 55vw;
  }
  .out-container .imgc {
    text-align: center;
  }
  .out-container img {
    max-width: none;
    width: 90%;
  }
}
@media only screen and (max-width: 556px) {
  .out-container {
    max-width: 470px;
  }
  form .input-container {
    width: 100%;
    display: block;
    margin-left: 0 !important;
  }
  .formContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background: #fff;
    padding: 15px !important;
    border: 3px solid #269c2f;
    margin-top: 10px;
    width: 90vw;
  }

  form .inputGroup input {
    padding: 0.5rem;
    background-color: transparent;
    outline: none;
    border: 1px solid #d4d4d4;
    font-size: 14px;
    color: #777;
    width: 100%;
    border-radius: 5px;
    font-size: 14px !important;
    letter-spacing: 0.4px !important;
    height: 45px !important;
    margin-left: 0px;
  }
  .clear {
    background: var(--orange);
    color: #fff;
    padding: 4px 0px !important;
    margin-left: 12px;
    max-width: 27%;
  }
}
