<div class="overlay"></div>
<app-header></app-header>
<app-sidebar></app-sidebar>
<!-- <app-registration></app-registration> -->
<!-- <app-verifications></app-verifications> -->
<!-- <app-terms-conditions></app-terms-conditions> -->
<!-- <app-personal-info></app-personal-info> -->
<!-- <app-address-identification></app-address-identification> -->
<app-security-details></app-security-details>
<!-- <app-review-registeration></app-review-registeration> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
