<div class="registeration">
  <div class="out-container">
    <div class="imgc">
      <img src="./assets/images/register/signup-1.png" />
    </div>
  </div>
  <div class="formContainer">
    <div class="info1">Personal Details</div>

    <div class="forms">
      <form [formGroup]="personalInfo" (ngSubmit)="onSubmit()">
        <div class="faded">
          <label for="file-input">
            <img
              src="./assets/images/register/profileimage.png"
              alt="Select an image"
            />
          </label>
          <input
            type="file"
            id="file-input"
            name="image"
            accept="image/*"
            style="display: none"
            formControlName="image"
          />
          <div class="imgInfo">
            (Allowed document formats are : jpg, jpeg. png)
          </div>
          <div class="info1 mb-1">Profile Picture</div>
        </div>
        <div class="input-container">
          <div class="inputGroup">
            <input
              type="text"
              autocomplete="off"
              name="mobile"
              formControlName="fname"
              [ngClass]="{
                'invalid-input': fname && fname.touched && fname.invalid
              }"
            />
            <label for="mobile"
              >First Name <span class="asterick text-danger">*</span></label
            >
            <div class="warn" *ngIf="fname && fname.touched && fname.invalid">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <input
              type="text"
              autocomplete="off"
              name="mobile"
              formControlName="mname"
            />
            <label for="mobile">Middle Name </label>
          </div>
          <div class="inputGroup">
            <input
              type="text"
              autocomplete="off"
              name="mobile"
              formControlName="lname"
              [ngClass]="{
                'invalid-input': lname && lname.touched && lname.invalid
              }"
            />
            <label for="mobile"
              >Last Name <span class="asterick text-danger">*</span></label
            >
            <div class="warn" *ngIf="lname && lname.touched && lname.invalid">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <input
              type="date"
              placeholder="dd/mm/yyyy"
              id="date"
              autocomplete="off"
              name="mobile"
              formControlName="date"
              [ngClass]="{
                'invalid-input': date && date.touched && date.invalid
              }"
            />
            <label for="mobile"
              >Date Of Birth <span class="asterick text-danger">*</span></label
            >
            <div class="warn" *ngIf="date && date.touched && date.invalid">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <select
              name="gender"
              id="gender"
              formControlName="gender"
              [ngClass]="{
                'invalid-input': gender && gender.touched && gender.invalid
              }"
            >
              <option value disabled selected>Gender</option>
              <option value="Female">Female</option>
              <option value="Male">Male</option>
            </select>
            <label for="mobile"
              >Gender<span class="asterick text-danger">*</span></label
            >
            <div
              class="warn"
              *ngIf="gender && gender.touched && gender.invalid"
            >
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup select-box position-relative">
            <div class="select-option d-flex">
              <input
                readonly
                name=""
                placeholder="select"
                id="soValue"
                (click)="onClicked()"
              />
            </div>
            <label for="soValue"
              >Country Of Birth
              <span class="asterick text-danger">*</span></label
            >
            <div class="content" *ngIf="toggleoption">
              <div class="search">
                <input type="search" id="optionSearch" placeholder="Search" />
              </div>
              <ul class="options">
                <li>Html</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>React</li>
                <li>Angular</li>
                <li>Django</li>
                <li>Php</li>
                <li>Sql</li>
                <li>Api</li>
              </ul>
            </div>
          </div>
          <div class="inputGroup select-box position-relative">
            <div class="select-option d-flex mt-2">
              <input
                readonly
                name=""
                placeholder="select"
                id="soValue"
                (click)="onClicked2()"
              />
            </div>
            <label for="soValue"
              >Nationality<span class="asterick text-danger">*</span></label
            >
            <div class="content" *ngIf="toggleoption2">
              <div class="search">
                <input type="search" id="optionSearch" placeholder="Search" />
              </div>
              <ul class="options">
                <li>Html</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>React</li>
                <li>Angular</li>
                <li>Django</li>
                <li>Php</li>
                <li>Sql</li>
                <li>Api</li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="btnContainer d-flex justify-content-between align-items-center"
        >
          <button type="button" class="btn btn1 bg-secondary text-white w-50">
            Back
          </button>
          <button
            type="submit"
            [disabled]="personalInfo && personalInfo.invalid"
            class="btn btn2 bg-success text-white w-100"
          >
            Save and continue
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
