.body {
  background: #403e3e9e;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.card {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  text-align: left;
  border: 2px solid #fb9333;
  border-radius: 0.5rem;
  min-width: 360px;

  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.header {
  padding: 1.5rem 2.5rem;
  background-color: #ffffff;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
  padding-left: 0 20px;
  margin-bottom: 2rem;
}

.title {
  color: rgba(128, 128, 128, 0.842);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5rem;
}
.actions {
  text-align: center;
}
.desactivate {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #f64649;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;

  width: 50%;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
