<app-loader [hidden]="!loader"></app-loader>
<app-popup-message
  *ngIf="display"
  [error]="errorMessage"
  [display]="display"
></app-popup-message>
<div class="registeration">
  <div class="out-container">
    <div>Registration</div>
    <div class="imgc">
      <img src="./assets/images/register/signup-1.png" />
    </div>
  </div>

  <div class="formContainer">
    <div class="info1">Permanent Address and Identification</div>

    <div class="forms">
      <form [formGroup]="addressForm">
        <div class="input-container">
          <div class="inputGroup">
            <input
              type="text"
              autocomplete="off"
              name="mobile"
              formControlName="street"
              [ngClass]="{
                'invalid-input': street && street.invalid && street.touched
              }"
            />
            <label for="mobile"
              >Street Address <span class="asterick text-danger">*</span></label
            >
            <div class="Note">*Residential only No PO Box</div>
            <div
              class="warn"
              *ngIf="street && street.invalid && street.touched"
            >
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup pt-1">
            <input
              type="text"
              autocomplete="off"
              name="mobile"
              formControlName="suite"
            />
            <label for="mobile">Apartment/Suite</label>
          </div>
          <div class="inputGroup">
            <select
              name="code"
              formControlName="parish"
              [ngClass]="{
                'invalid-input': parish && parish.invalid && parish.touched
              }"
              (change)="onSelect($event.target.value)"
            >
              <option value disabled selected>Select</option>
              <option
                *ngFor="let parish of parishNames; let i = index"
                id="{{ parish }}"
              >
                {{ parish }}
              </option>
            </select>
            <label for="code"
              >Parish <span class="asterick text-danger">*</span></label
            >
            <div
              class="warn"
              *ngIf="parish && parish.invalid && parish.touched"
            >
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <select
              name="code"
              formControlName="town"
              [ngClass]="{
                'invalid-input': towns && towns.invalid && towns.touched
              }"
              (click)="onSelect2($event.target.value)"
            >
              <option value disabled selected>Select</option>
              <option *ngFor="let town of townName" id="{{ town }}">
                {{ town }}
              </option>
            </select>
            <label for="code"
              >Town<span class="asterick text-danger">*</span></label
            >
            <div class="warn" *ngIf="towns && towns.invalid && towns.touched">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>

          <div class="inputGroup">
            <select
              name="code"
              formControlName="district"
              [ngClass]="{
                'invalid-input':
                  district && district.invalid && district.touched
              }"
            >
              <option value disabled selected>Select</option>
              <option *ngFor="let district of districtName" id="{{ district }}">
                {{ district }}
              </option>
            </select>
            <label for="code"
              >Districts <span class="asterick text-danger">*</span></label
            >
            <div
              class="warn"
              *ngIf="district && district.invalid && district.touched"
            >
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>

          <div class="inputGroup">
            <input
              type="email"
              placeholder="email"
              autocomplete="off"
              name="mobile"
              formControlName="email"
              [ngClass]="{
                'invalid-input': email && email.invalid && email.touched
              }"
            />
            <label for="mobile"
              >Email <span class="asterick text-danger">*</span></label
            >
            <div class="warn" *ngIf="email && email.invalid && email.touched">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <input
              type="number"
              autocomplete="off"
              name="mobile"
              formControlName="trn"
              [ngClass]="{
                'invalid-input': idnum && idnum.invalid && idnum.touched
              }"
            />
            <label for="mobile"
              >TRN <span class="asterick text-danger">*</span></label
            >
            <div class="warn" *ngIf="trn && trn.invalid && trn.touched">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <select
              name="gender"
              id="gender"
              formControlName="idtype"
              [ngClass]="{
                'invalid-input': idtype && idtype.invalid && idtype.touched
              }"
            >
              <option value disabled selected>Select</option>
              <option
                *ngFor="let item of idType; let i = index"
                value="{{ idType[i].id }}"
              >
                {{ idType[i].name }}
              </option>
            </select>
            <label for="mobile"
              >ID Type <span class="asterick text-danger">*</span></label
            >
            <div
              class="warn"
              *ngIf="idtype && idtype.invalid && idtype.touched"
            >
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <input
              type="number"
              autocomplete="off"
              name="mobile"
              formControlName="idnum"
              [ngClass]="{
                'invalid-input': idnum && idnum.invalid && idnum.touched
              }"
            />
            <label for="mobile"
              >Id Number <span class="asterick text-danger">*</span></label
            >
            <div class="warn" *ngIf="idnum && idnum.invalid && idnum.touched">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <input
              type="date"
              placeholder="dd/mm/yyyy"
              id="date"
              autocomplete="off"
              name="mobile"
              formControlName="expiration"
              [ngClass]="{
                'invalid-input':
                  expiration && expiration.invalid && expiration.touched
              }"
            />
            <label for="mobile"
              >Id Expiration Date
              <span class="asterick text-danger">*</span></label
            >
            <div
              class="warn"
              *ngIf="expiration && expiration.invalid && expiration.touched"
            >
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
        </div>

        <div class="Photos mt-3">
          <div class="row1">
            Please upload a copy of your Government Issued Photo ID below:
          </div>
          <div class="row2">
            (Make sure the ID uploaded is visible and the information can be
            clerly read)
          </div>
          <div class="faded">
            <div class="imgmainContainer">
              <div class="img1container">
                <label for="file-input">
                  <img
                    src="./assets/images/register/front-upload.png"
                    id="upload-btn"
                    alt="Select an image"
                  />
                </label>
                <input
                  type="file"
                  id="file-input"
                  name="image"
                  (change)="onFileSelected($event)"
                  accept=".jpeg , .jpg , .png"
                  style="display: none"
                />
              </div>
              <div class="img1container">
                <label for="file-input2">
                  <img
                    src="./assets/images/register/back-upload.png"
                    id="upload-btn2"
                    alt="Select an image"
                  />
                </label>
                <input
                  type="file"
                  id="file-input2"
                  name="image"
                  style="display: none"
                  (change)="onFileSelected2($event)"
                  accept=".jpeg , .jpg , .png"
                />
              </div>
            </div>

            <div class="IdName">
              <span>(Front Of ID)</span>
              <span>(Back Of ID)</span>
            </div>
            <div class="imgInfo">
              (Allowed document formats are : jpg, jpeg. png)
            </div>
            <div class="info1 mb-1">Profile Picture</div>
          </div>
          <div class="popup">
            Click here to view examples of proper upload or incorrect upload
          </div>

          <div class="radio1 row">
            <div class="col form-check mb-4">
              <input
                class="form-check-input"
                type="radio"
                name="radio1"
                id="radio1"
                value="false"
                formControlName="radio1"
                (change)="showForm = false"
              />
              <label class="form-check-label ml-2" for="radio1">
                Opt for Digital top up and redemption via digital payment
                methods
              </label>
            </div>
            <div class="col-12 form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="radio1"
                id="radio2"
                value="true"
                (change)="showForm = true"
                formControlName="radio1"
              />
              <label class="form-check-label ml-2" for="radio2">
                Opt tor cash in and cash out at retail stores
              </label>
              <div class="secondForm" [hidden]="!showForm">
                <div class="inputGroup">
                  <select
                    name="code"
                    formControlName="tiers"
                    [ngClass]="{
                      'invalid-input': tiers && tiers.invalid && tiers.touched
                    }"
                    (change)="onSelectTiers($event.target.value)"
                  >
                    <option value disabled selected>Select</option>
                    <option
                      *ngFor="let tier of tierList; let i = index"
                      id="{{ tierList[i].id }}"
                      value="{{ tierList[i].id }}"
                    >
                      {{ tierList[i].name }}
                    </option>
                  </select>
                  <label for="code"
                    >Select Tier Details
                    <span class="asterick text-danger">*</span></label
                  >
                  <div
                    class="warn"
                    *ngIf="tiers && tiers.invalid && tiers.touched"
                  >
                    <i class="fa fa-info-circle error-info-icon mr-1"></i>
                    Please fill this field to continue
                  </div>
                </div>
                <div class="firstLayer" [hidden]="!firstlayer">
                  <div class="text-success ml-1 mb-4">
                    Please provide source of funds*
                    <img
                      src="../../../assets/images/register/info.png"
                      height="18px"
                    />
                  </div>
                  <div class="faded">
                    <div
                      class="imgmainContainer d-flex justify-content-center mb-2"
                    >
                      <div class="img1container">
                        <label for="file-input3">
                          <img
                            [src]="sourceUrl"
                            id="upload-btn3"
                            alt="Select an image"
                          />
                        </label>
                        <input
                          type="file"
                          id="file-input3"
                          name="image"
                          style="display: none"
                          (change)="onFileSelected3($event)"
                          accept=".jpeg , .jpg , .png"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="notes">
                    (Allowed document formats are : jpg, jpeg, png)
                  </div>
                </div>

                <div class="secondLayer" [hidden]="!secondLayer">
                  <div class="inputGroup">
                    <input
                      type="text"
                      autocomplete="off"
                      name="mobile"
                      formControlName="occupation"
                      [ngClass]="{
                        'invalid-input':
                          occupation && occupation.invalid && occupation.touched
                      }"
                    />
                    <label for="mobile"
                      >Occupation/Line of Business
                      <span class="asterick text-danger">*</span></label
                    >
                    <div
                      class="warn"
                      *ngIf="
                        occupation && occupation.invalid && occupation.touched
                      "
                    >
                      <i class="fa fa-info-circle error-info-icon mr-1"></i>
                      Please fill this field to continue
                    </div>
                  </div>
                  <div class="text-success ml-1 mt-1 mb-3">
                    Please provide address proof *
                    <img
                      src="../../../assets/images/register/info.png"
                      height="18px"
                    />
                  </div>
                  <div class="faded">
                    <div
                      class="imgmainContainer d-flex justify-content-center mb-2"
                    >
                      <div class="img1container">
                        <label for="file-input4">
                          <img
                            src="./assets/images/register/upload.png"
                            id="upload-btn4"
                            alt="Select an image"
                          />
                        </label>
                        <input
                          type="file"
                          id="file-input4"
                          name="image"
                          style="display: none"
                          (change)="onFileSelected4($event)"
                          accept=".jpeg , .jpg , .png"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="notes text-success">
                    (Allowed document formats are : jpg, jpeg, png)
                  </div>
                </div>
                <div class="thirdlayer" [hidden]="!thirdLayer">
                  <div class="text-success my-3">Bank Details</div>
                  <div class="inputGroup">
                    <select
                      name="code"
                      formControlName="bankName"
                      [ngClass]="{
                        'invalid-input':
                          bankNames && bankNames.invalid && bankNames.touched
                      }"
                      (click)="onSelect($event.target.value)"
                    >
                      <option value disabled selected>Select</option>
                      <option
                        *ngFor="let item of bankName; let i = index"
                        id="{{ bankName[i].id }}"
                        value="{{ bankName[i].name }}"
                      >
                        {{ bankName[i].name }}
                      </option>
                    </select>
                    <label for="code"
                      >Bank Name
                      <span class="asterick text-danger">*</span></label
                    >
                    <div
                      class="warn"
                      *ngIf="
                        bankNames && bankNames.invalid && bankNames.touched
                      "
                    >
                      <i class="fa fa-info-circle error-info-icon mr-1"></i>
                      Please fill this field to continue
                    </div>
                  </div>
                  <div class="inputGroup">
                    <input
                      type="text"
                      autocomplete="off"
                      name="mobile"
                      formControlName="branchName"
                      [ngClass]="{
                        'invalid-input':
                          branchName && branchName.invalid && branchName.touched
                      }"
                    />
                    <label for="mobile"
                      >Branch Name
                      <span class="asterick text-danger">*</span></label
                    >
                    <div
                      class="warn"
                      *ngIf="
                        branchName && branchName.invalid && branchName.touched
                      "
                    >
                      <i class="fa fa-info-circle error-info-icon mr-1"></i>
                      Please fill this field to continue
                    </div>
                  </div>
                  <div class="inputGroup">
                    <input
                      type="number"
                      autocomplete="off"
                      name="mobile"
                      formControlName="accountNum"
                      [ngClass]="{
                        'invalid-input':
                          accountNum && accountNum.invalid && accountNum.touched
                      }"
                    />
                    <label for="mobile"
                      >Account Number
                      <span class="asterick text-danger">*</span></label
                    >
                    <div
                      class="warn"
                      *ngIf="
                        accountNum && accountNum.invalid && accountNum.touched
                      "
                    >
                      <i class="fa fa-info-circle error-info-icon mr-1"></i>
                      Please fill this field to continue
                    </div>
                  </div>

                  <div class="inputGroup">
                    <select
                      name="code"
                      formControlName="accountType"
                      [ngClass]="{
                        'invalid-input':
                          accountType &&
                          accountType.invalid &&
                          accountType.touched
                      }"
                      (change)="onSelect($event.target.value)"
                    >
                      <option value disabled selected>Select</option>
                      <option
                        *ngFor="let item of bankAccountType; let i = index"
                        id="{{ bankAccountType[i].id }}"
                      >
                        {{ bankAccountType[i].name }}
                      </option>
                    </select>
                    <label for="code"
                      >Account Type
                      <span class="asterick text-danger">*</span></label
                    >
                    <div
                      class="warn"
                      *ngIf="
                        accountType &&
                        accountType.invalid &&
                        accountType.touched
                      "
                    >
                      <i class="fa fa-info-circle error-info-icon mr-1"></i>
                      Please fill this field to continue
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="btnContainer d-flex justify-content-between align-items-center w-100"
        >
          <button type="button" class="btn btn1 bg-secondary text-white w-50">
            Back
          </button>
          <button
            type="submit"
            class="btn btn2 bg-success text-white w-50"
            (click)="AddressApi()"
          >
            Save and continue
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
