.registeration {
  background: url("assets/images/register/background.b5b1c30cc875653fe9c7.png")
    center center/cover no-repeat fixed;
  background-repeat: repeat;
  background-position: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.out-container {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--green);
  max-width: 550px;
}
.out-container div {
  font-size: 24px;
  margin-bottom: 25px;
}
.out-container div img {
  max-width: 100%;
}
.formContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background: #fff;
  padding: 35px !important;
  border: 3px solid #269c2f;
  margin-bottom: 1rem;
  margin-top: 10px;
  /* min-width: 450px; */
  width: 29vw;
  max-height: 80vh;
  overflow: auto;
}
.formContainer .info1 {
  color: var(--green);
  font-size: 19px;
  margin-bottom: 12px;
  text-align: center;
}

form {
  width: 100%;
}
form .input-container {
  width: 100%;
}
.inputGroup {
  margin: 1rem 0 1rem 0;
  width: 100%;
  position: relative;
}
form .inputGroup .note {
  position: absolute;
  right: 0;
  font-size: 15px;
}
.warn {
  color: var(--red);
  font-size: 10px;
}

form .inputGroup input,
select {
  padding: 0.5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #d4d4d4;
  font-size: 14px;
  color: #777;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  font-size: 14px !important;
  letter-spacing: 0.4px !important;
  height: 45px !important;
  margin-bottom: 0.3rem;
}
form .verify {
  font-size: 1rem;
  text-align: center !important;
}
form .inputGroup input:focus {
  border: 1px solid var(--green);
}
form .inputGroup input.invalid-input,
select.invalid-input {
  border: 2px solid red;
}

form .inputGroup label {
  transform: translateY(-50%) scale(0.9);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  margin-left: 0.5rem;
  color: #389140;
  background: #fff;
  border-color: #279c31;
}
form .btnContainer .btn {
  margin: 15px 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  height: 45px;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.clear {
  background: var(--orange);
  color: #fff;
  padding: 4px 30px;
  height: 45px;
  margin-left: 12px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#optionSearch {
  padding: 0 0.5rem;
  height: 35px !important;
}

.faded label {
  display: flex;
  position: relative;
  width: fit-content;
  cursor: pointer;
  margin: auto;
}
.faded .imgmainContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.faded .imgmainContainer .img1container img {
  width: 140px;
  object-fit: contain;
  object-position: center;
  margin: 0 !important;
}
.faded .imgmainContainer .img1container {
  max-width: 175px;
  max-height: 120px;
  border: 2px dotted #269c2f;
  padding: 9px 14px;
}
.faded .imgInfo {
  color: #269c2f;
  font-size: 13px;
  text-align: center;
  margin: 5px 0 20px 0;
}
.faded .IdName {
  color: #656565;
  margin: 12px 0;
  display: flex;
  justify-content: space-evenly;
}
.popup {
  color: #269c2f;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 1rem;
}
.radio {
  color: #656565;
}
input[type="radio"] {
  height: 20px;
  width: 20px;
  margin-right: 15px;
  accent-color: var(--green);
}

@media only screen and (max-width: 992px) {
  .registeration {
    background: #fff;
    background-repeat: repeat;
    background-position: left;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background: #fff;
    padding: 15px !important;
    border: 3px solid #269c2f;
    margin-top: 10px;
    width: 55vw;
  }
  .out-container .imgc {
    text-align: center;
  }
  .out-container img {
    max-width: none;
    width: 90%;
  }
}
@media only screen and (max-width: 556px) {
  .registeration {
    background: #fff;
  }

  .out-container {
    max-width: 470px;
  }
  form .input-container {
    width: 100%;
    display: block;
    margin-left: 0 !important;
  }
  .formContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background: #fff;
    padding: 15px !important;
    border: 3px solid #269c2f;
    margin-top: 10px;
    margin-bottom: 1rem;
    width: 90vw;
  }

  select {
    padding: 0.5rem;
    background-color: transparent;
    outline: none;
    border: 1px solid #d4d4d4;
    font-size: 14px;
    color: #777;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    font-size: 14px !important;
    letter-spacing: 0.4px !important;
    height: 45px !important;
    margin-left: 0px;
  }
  .optionSearch {
    padding: 0 0.5rem;
  }
  .clear {
    background: var(--orange);
    color: #fff;
    padding: 4px 0px !important;
    margin-left: 12px;
    max-width: 27%;
  }
}

.content {
  position: absolute;
  color: #000;
  border-radius: 2px;
  border: 1px solid #9e9c9c;
  width: 100%;
  z-index: 999;
  background: #fff;
}
.search input {
  width: 100%;
  font-size: 17px;
  padding: 15px;
  outline: 0;
  border: 1px solid #9e9c9c;
  border-radius: 0 !important;
}
.options {
  margin-top: 10px;
  max-height: 251px;
  overflow-y: auto;
  padding: 0;
}
.options li {
  border-radius: 5px;
  font-size: 15px;
  color: var(--green);
  padding: 0 !important;
  cursor: pointer;
  position: relative;
}

.options::-webkit-scrollbar {
  width: 0.5vw;
  overflow: hidden;
}
.options::-webkit-scrollbar-thumb {
  border-radius: 12px;
}
.options::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  height: 1vh;
}
.content::before {
  content: "";
  background: transparent;
  border-top: 1px solid #9e9c9c;
  border-left: 1px solid #9e9c9c;
  width: 22px;
  height: 22px;
  position: absolute;
  transform: rotateZ(45deg);
  top: -3.8%;
  left: 2%;
  z-index: 1;
}
.Note {
  float: right;
  font-size: 13px;
  color: #656565;
}
.row1 {
  color: #269c2f;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin: 1rem 0;
}
.row2 {
  color: #389140;
  text-align: center;
  font-size: 13px;
  margin-bottom: 0.5rem;
}
.options li label {
  position: relative;
  transform: none;
  color: #389140;
  background: #fff;
  margin-left: 0 !important;
  padding: 0 25px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  border-radius: 10px;
  align-items: center;
}

.options li input[type="radio"] {
  height: 25px;
  width: 25px;
  order: 2;
  opacity: 0;
  accent-color: rgb(18, 66, 139);
}
.options li label:hover {
  background: #f3f3f3;
}
