<div class="registeration">
  <div class="out-container">
    <div>Registration</div>
    <div class="imgc">
      <img src="./assets/images/register/signup-1.png" />
    </div>
  </div>
  <div class="formContainer">
    <div class="info1">Permanent Address and Identification</div>

    <div class="forms">
      <form [formGroup]="addressForm">
        <div class="input-container">
          <div class="inputGroup">
            <input
              type="text"
              autocomplete="off"
              name="mobile"
              formControlName="street"
              [ngClass]="{
                'invalid-input': street && street.invalid && street.touched
              }"
            />
            <label for="mobile"
              >Street Address <span class="asterick text-danger">*</span></label
            >
            <div class="Note">*Residential only No PO Box</div>
            <div
              class="warn"
              *ngIf="street && street.invalid && street.touched"
            >
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup pt-1">
            <input
              type="text"
              autocomplete="off"
              name="mobile"
              formControlName="suite"
            />
            <label for="mobile">Apartment/Suite</label>
          </div>
          <div class="inputGroup">
            <select
              name="code"
              formControlName="parish"
              [ngClass]="{
                'invalid-input': parish && parish.invalid && parish.touched
              }"
            >
              <option value disabled selected>Select</option>
              <option value="option1">option1</option>
              <option value="option2">option2</option>
            </select>
            <label for="code"
              >Parish <span class="asterick text-danger">*</span></label
            >
            <div
              class="warn"
              *ngIf="parish && parish.invalid && parish.touched"
            >
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup select-box position-relative">
            <div class="select-option d-flex mt-2">
              <input
                type="text"
                readonly
                name=""
                placeholder="select"
                id="soValue"
                (click)="onClicked()"
              />
            </div>
            <label for="soValue"
              >Town <span class="asterick text-danger">*</span></label
            >
            <div class="content" *ngIf="toggleoption">
              <div class="search">
                <input type="search" id="optionSearch" placeholder="Search" />
              </div>
              <ul class="options">
                <li>
                  <label for="r1"
                    ><input
                      type="radio"
                      name="checks1"
                      formControlName="checks1"
                      value="1"
                      id="r1"
                    />
                    Html</label
                  >
                </li>
                <li>
                  <label for="r2"
                    ><input
                      type="radio"
                      name="checks1"
                      id="r2"
                      formControlName="checks1"
                      value="2"
                    />
                    CSS</label
                  >
                </li>
                <li>
                  <label for="r3"
                    ><input
                      type="radio"
                      name="checks1"
                      id="r3"
                      formControlName="checks1"
                      value="3"
                    />
                    JavaScript</label
                  >
                </li>
                <li>
                  <label for="r4"
                    ><input
                      type="radio"
                      name="checks1"
                      value="4"
                      id="r4"
                      formControlName="checks1"
                    />
                    TypeScript</label
                  >
                </li>
                <li>
                  <label for="r5"
                    ><input
                      type="radio"
                      name="checks1"
                      value="5"
                      id="r5"
                      formControlName="checks1"
                    />
                    React</label
                  >
                </li>
                <!-- <li><input type="radio" name="checks1" formControlName="checks1"  class="form-check-input" value="6" /> Angular</li>
                <li><input type="radio" name="checks1" formControlName="checks1"  class="form-check-input" value="7" /> Django</li>
                <li><input type="radio" name="checks1" formControlName="checks1"  class="form-check-input" value="8" /> Php</li>
                <li><input type="radio" name="checks1" formControlName="checks1"  class="form-check-input" value="9" /> Sql</li>
                <li><input type="radio" name="checks1" formControlName="checks1"  class="form-check-input" value="10" /> Api</li> -->
              </ul>
            </div>
          </div>
          <div class="inputGroup select-box position-relative">
            <div class="select-option d-flex mt-2">
              <input
                type="text"
                readonly
                name=""
                placeholder="select"
                id="soValue2"
                (click)="onClicked2()"
              />
            </div>
            <label for="soValue2"
              >District <span class="asterick text-danger">*</span></label
            >
            <div class="content" *ngIf="toggleoption2">
              <div class="search">
                <input type="search" id="optionSearch2" placeholder="Search" />
              </div>
              <ul class="options">
                <li>
                  <label for="d1"
                    ><input
                      type="radio"
                      name="checks2"
                      formControlName="checks2"
                      value="1"
                      id="d1"
                    />
                    Html</label
                  >
                </li>
                <li>
                  <label for="d2"
                    ><input
                      type="radio"
                      name="checks2"
                      id="d2"
                      formControlName="checks2"
                      value="2"
                    />
                    CSS</label
                  >
                </li>
                <li>
                  <label for="d3"
                    ><input
                      type="radio"
                      name="checks2"
                      id="d3"
                      formControlName="checks2"
                      value="3"
                    />
                    JavaScript</label
                  >
                </li>
                <li>
                  <label for="d4"
                    ><input
                      type="radio"
                      name="checks2"
                      value="4"
                      id="d4"
                      formControlName="checks2"
                    />
                    TypeScript</label
                  >
                </li>
                <li>
                  <label for="d5"
                    ><input
                      type="radio"
                      name="checks2"
                      value="5"
                      id="d5"
                      formControlName="checks2"
                    />
                    React</label
                  >
                </li>
                <!-- <li><input type="radio" name="checks1" formControlName="checks1"  class="form-check-input" value="6" /> Angular</li>
                <li><input type="radio" name="checks1" formControlName="checks1"  class="form-check-input" value="7" /> Django</li>
                <li><input type="radio" name="checks1" formControlName="checks1"  class="form-check-input" value="8" /> Php</li>
                <li><input type="radio" name="checks1" formControlName="checks1"  class="form-check-input" value="9" /> Sql</li>
                <li><input type="radio" name="checks1" formControlName="checks1"  class="form-check-input" value="10" /> Api</li> -->
              </ul>
            </div>
          </div>

          <div class="inputGroup">
            <input
              type="email"
              placeholder="email"
              autocomplete="off"
              name="mobile"
              formControlName="email"
              [ngClass]="{
                'invalid-input': email && email.invalid && email.touched
              }"
            />
            <label for="mobile"
              >Email <span class="asterick text-danger">*</span></label
            >
            <div class="warn" *ngIf="email && email.invalid && email.touched">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <select
              name="gender"
              id="gender"
              formControlName="idtype"
              [ngClass]="{
                'invalid-input': idtype && idtype.invalid && idtype.touched
              }"
            >
              <option value disabled selected>Select</option>
              <option value="option1">option1</option>
              <option value="option2">option2</option>
            </select>
            <label for="mobile"
              >ID Type <span class="asterick text-danger">*</span></label
            >
            <div
              class="warn"
              *ngIf="idtype && idtype.invalid && idtype.touched"
            >
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <input
              type="number"
              autocomplete="off"
              name="mobile"
              formControlName="idnum"
              [ngClass]="{
                'invalid-input': idnum && idnum.invalid && idnum.touched
              }"
            />
            <label for="mobile"
              >Id Number <span class="asterick text-danger">*</span></label
            >
            <div class="warn" *ngIf="idnum && idnum.invalid && idnum.touched">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <input
              type="date"
              placeholder="dd/mm/yyyy"
              id="date"
              autocomplete="off"
              name="mobile"
              formControlName="expiration"
              [ngClass]="{
                'invalid-input':
                  expiration && expiration.invalid && expiration.touched
              }"
            />
            <label for="mobile"
              >Id Expiration Date
              <span class="asterick text-danger">*</span></label
            >
            <div
              class="warn"
              *ngIf="expiration && expiration.invalid && expiration.touched"
            >
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
        </div>

        <div class="Photos mt-3">
          <div class="row1">
            Please upload a copy of your Government Issued Photo ID below:
          </div>
          <div class="row2">
            (Make sure the ID uploaded is visible and the information can be
            clerly read)
          </div>
          <div class="faded">
            <div class="imgmainContainer">
              <div class="img1container">
                <label for="file-input">
                  <img
                    src="./assets/images/register/front-upload.png"
                    alt="Select an image"
                  />
                </label>
                <input
                  type="file"
                  id="file-input"
                  name="image"
                  accept="image/*"
                  style="display: none"
                  formControlName="img1"
                />
              </div>
              <div class="img1container">
                <label for="file-input2">
                  <img
                    src="./assets/images/register/back-upload.png"
                    alt="Select an image"
                  />
                </label>
                <input
                  type="file"
                  id="file-input2"
                  name="image"
                  accept="image/*"
                  style="display: none"
                  formControlName="img2"
                />
              </div>
            </div>

            <div class="IdName">
              <span>(Front Of ID)</span>
              <span>(Back Of ID)</span>
            </div>
            <div class="imgInfo">
              (Allowed document formats are : jpg, jpeg. png)
            </div>
            <div class="info1 mb-1">Profile Picture</div>
          </div>
          <div class="popup">
            Click here to view examples of proper upload or incorrect upload
          </div>

          <div class="radio1 row">
            <div class="col form-check mb-4">
              <input
                class="form-check-input"
                type="radio"
                checked
                name="radio1"
                id="radio1"
                value="2"
                formControlName="radio1"
              />
              <label class="form-check-label ml-2" for="radio1">
                Opt for Digital top up and redemption via digital payment
                methods
              </label>
            </div>
            <div class="col-12 form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="radio1"
                value="1"
                formControlName="radio1"
              />
              <label class="form-check-label ml-2" for="radio1">
                Opt tor cash in and cash out at retail stores
              </label>
            </div>
          </div>
        </div>
        <div
          class="btnContainer d-flex justify-content-between align-items-center w-100"
        >
          <button type="button" class="btn btn1 bg-secondary text-white w-50">
            Back
          </button>
          <button
            type="submit"
            [disabled]="addressForm && addressForm.invalid"
            class="btn btn2 bg-success text-white w-50"
            (click)="AddressApi()"
          >
            Save and continue
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
