<div class="registeration">
  <div class="out-container">
    <div>Registration</div>
    <div class="imgc">
      <img src="./assets/images/register/signup-1.png" />
    </div>
  </div>
  <div class="formContainer">
    <div class="info1">Permanent Address and Identification</div>

    <div class="forms">
      <form>
        <div class="input-container">
          <div class="inputGroup">
            <input type="text" autocomplete="off" name="mobile" />
            <label for="mobile">Street Address *</label>
            <div class="Note">*Residential only No PO Box</div>
            <div class="warn">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup pt-1">
            <input type="text" autocomplete="off" name="mobile" />
            <label for="mobile">Apartment/Suite</label>
          </div>
          <div class="inputGroup">
            <select name="code">
              <option value disabled selected>Select</option>
              <option value="option1">option1</option>
              <option value="option2">option2</option>
            </select>
            <label for="code">Parish*</label>
            <div class="warn">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup select-box position-relative">
            <div class="select-option d-flex mt-2">
              <input
                readonly
                name=""
                placeholder="select"
                id="soValue"
                (click)="onClicked()"
              />
            </div>
            <label for="soValue">Town*</label>
            <div class="content" *ngIf="toggleoption">
              <div class="search">
                <input type="search" id="optionSearch" placeholder="Search" />
              </div>
              <ul class="options">
                <li>Html</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>React</li>
                <li>Angular</li>
                <li>Django</li>
                <li>Php</li>
                <li>Sql</li>
                <li>Api</li>
              </ul>
            </div>
          </div>
          <div class="inputGroup select-box position-relative">
            <div class="select-option d-flex mt-2">
              <input
                readonly
                name=""
                placeholder="select"
                id="soValue"
                (click)="onClicked2()"
              />
            </div>
            <label for="soValue">District*</label>
            <div class="content" *ngIf="toggleoption2">
              <div class="search">
                <input type="search" id="optionSearch" placeholder="Search" />
              </div>
              <ul class="options">
                <li>Html</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>React</li>
                <li>Angular</li>
                <li>Django</li>
                <li>Php</li>
                <li>Sql</li>
                <li>Api</li>
              </ul>
            </div>
          </div>
          <div class="inputGroup">
            <input
              type="email"
              placeholder="email"
              autocomplete="off"
              name="mobile"
            />
            <label for="mobile">Email *</label>
            <div class="warn">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <select name="gender" id="gender">
              <option value disabled selected>Select</option>
              <option value="option1">option1</option>
              <option value="option2">option2</option>
            </select>
            <label for="mobile">ID Type *</label>
            <div class="warn">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <input type="number" autocomplete="off" name="mobile" />
            <label for="mobile">Id Number *</label>
            <div class="warn">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
          <div class="inputGroup">
            <input
              type="date"
              placeholder="dd/mm/yyyy"
              id="date"
              autocomplete="off"
              name="mobile"
            />
            <label for="mobile">Id Expiration Date *</label>
            <div class="warn">
              <i class="fa fa-info-circle error-info-icon mr-1"></i> Please fill
              this field to continue
            </div>
          </div>
        </div>

        <div class="Photos">
          <div class="row1">
            Please upload a copy of your Government Issued Photo ID below:
          </div>
          <div class="row2">
            (Make sure the ID uploaded is visible and the information can be
            clerly read)
          </div>
          <div class="faded">
            <label for="file-input">
              <img
                src="./assets/images/register/profileimage.png"
                alt="Select an image"
              />
            </label>
            <input
              type="file"
              id="file-input"
              name="image"
              accept="image/*"
              style="display: none"
            />
            <div class="imgInfo">
              (Allowed document formats are : jpg, jpeg. png)
            </div>
            <div class="info1 mb-1">Profile Picture</div>
          </div>
          <div class="popup">
            Click here to view examples of proper upload or incorrect upload
          </div>
          <div class="radio">
            Opt for Digital top up and redemption via digital payment methods
            Opt tor cash in and cash out at retail stores
          </div>
        </div>
        <div
          class="btnContainer d-flex justify-content-between align-items-center w-100"
        >
          <button type="button" class="btn btn1 bg-secondary text-white w-50">
            Back
          </button>
          <button type="button" class="btn btn2 bg-success text-white w-50">
            Save and continue
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
