<div class="registeration">
  <div class="out-container">
    <div>Registration (Review)</div>
    <div class="imgc"><img src="./assets/images/register/signup-5.png" /></div>
  </div>
  <div class="outerBox">
    <div class="Box1">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 content1 px-4">
          <div class="head1 mb-1">
            <span
              ><img [src]="imageUrl" alt="front-upload" width="75px"
            /></span>
            <span class="title">Personal Details</span>
            <span class="edit"
              ><img
                src="./assets/images/register/editicon.png"
                alt="editicon"
                width="16px"
              />
              Edit</span
            >
          </div>
          <div class="container1">
            <div class="rows1 row">
              <span class="col text-secondary">First Name</span
              ><span class="col text-success">{{
                personalinfo["firstName"]
              }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Middle Name</span
              ><span class="col text-success">{{
                personalinfo["middleName"]
              }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Last Name</span
              ><span class="col text-success">{{
                personalinfo["lastName"]
              }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Date Of Birth</span
              ><span class="col text-success">{{ personalinfo["dob"] }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Gender</span
              ><span class="col text-success">{{
                personalinfoContiner[0]
              }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Country of Birth</span
              ><span class="col text-success">{{
                personalinfoContiner[1]
              }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Nationality</span>
              <span class="col text-success">{{
                personalinfoContiner[2]
              }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 content2">
          <div class="head2 mb-3">
            <span class="title">Permanent Address And Identification</span>
            <span class="edit"
              ><img
                src="./assets/images/register/editicon.png"
                alt="editicon"
                width="16px"
              />
              Edit</span
            >
          </div>
          <div class="container2">
            <div class="rows1 row">
              <span class="col text-secondary">Street Address</span
              ><span class="col text-success">{{
                addressInfo["streetAddress"]
              }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Apartment/Suite</span
              ><span class="col text-success">
                {{ addressInfo["apartment"] }}</span
              >
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Parish</span
              ><span class="col text-success">{{ addressInfo["parish"] }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Town</span
              ><span class="col text-success">{{ addressInfo["town"] }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary"> District</span
              ><span class="col text-success">{{
                addressInfo["district"]
              }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Email Address</span
              ><span class="col text-success">{{
                addressInfo["emailAddress"]
              }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">TRN</span>
              <span class="col text-success">{{
                identificationDetails["trnNumber"]
              }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">ID Type</span>
              <span class="col text-success">{{
                identificationDetails["idTypeCD"]
              }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">ID Number</span>
              <span class="col text-success"
                >{{ identificationDetails["idNumber"] }}
              </span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">ID Expiration Date</span>
              <span class="col text-success">{{
                identificationDetails["idExpirationDate"]
              }}</span>
            </div>
            <div class="row11 mt-3 row">
              <span class="col">
                <div class="faded">
                  <div class="imgmainContainer d-flex justify-content-around">
                    <div class="img1container">
                      <label for="file-input">
                        <img
                          [src]="documentUrl"
                          alt="Select an image"
                          readonly
                        />
                      </label>
                    </div>
                    <div class="img1container">
                      <label for="file-input">
                        <img [src]="documentBackUrl" alt="Select an image" />
                      </label>
                    </div>
                  </div>

                  <div class="IdName">
                    <span>(Front Of ID)</span>
                    <span>(Back Of ID)</span>
                  </div>
                </div></span
              >
            </div>
            <div class="rows1 row">
              <span class="col-8 text-secondary"
                >Would you like to opt for Cash transactions at the retail
                stores?</span
              >
              <span class="col text-success">{{ optYN }}</span>
            </div>
            <!-- -------------------------------- -->
            <div [hidden]="!display">
              <div class="rows1 row">
                <span class="col-8 text-secondary">Tier Details</span>
                <span class="col text-success">{{
                  identificationDetails["tier"]
                }}</span>
              </div>
              <div class="row13 row">
                <span class="col text-danger lastrow"
                  >Please click here for additional inforrnation on tiers
                </span>
              </div>
              <div class="firstTier" [hidden]="!firstlayer">
                <div class="row11 mt-3 row">
                  <span class="col">
                    <div class="faded">
                      <div
                        class="imgmainContainer d-flex justify-content-around"
                      >
                        <div class="img1container">
                          <label for="file-input">
                            <img
                              [src]="sourceUrl"
                              alt="Select an image"
                              readonly
                            />
                          </label>
                        </div>
                      </div></div
                  ></span>
                </div>
              </div>

              <div class="secondRow" [hidden]="!secondLayer">
                <div class="rows1 row">
                  <span class="col-8 text-secondary"
                    >Occupation/Line of Business</span
                  >
                  <span class="col text-success">{{
                    identificationDetails["occupation"]
                  }}</span>
                </div>
                <div class="row11 mt-3 row">
                  <span class="col">
                    <div class="faded">
                      <div
                        class="imgmainContainer d-flex justify-content-around"
                      >
                        <div class="img1container">
                          <label for="file-input">
                            <img
                              [src]="addressProofUrl"
                              alt="Select an image"
                              readonly
                            />
                          </label>
                        </div>
                      </div></div
                  ></span>
                </div>
              </div>

              <div class="thirdRow" [hidden]="!thirdLayer">
                <div class="text-success">Bank Details</div>
                <div class="rows1 row">
                  <span class="col-8 text-secondary"> Bank Name</span>
                  <span class="col text-success">{{
                    identificationDetails["bankName"]
                  }}</span>
                </div>
                <div class="rows1 row">
                  <span class="col-8 text-secondary">Branch Name</span>
                  <span class="col text-success">{{
                    identificationDetails["branchName"]
                  }}</span>
                </div>
                <div class="rows1 row">
                  <span class="col-8 text-secondary">Account Number</span>
                  <span class="col text-success">{{
                    identificationDetails["accountNumber"]
                  }}</span>
                </div>

                <div class="rows1 row">
                  <span class="col-8 text-secondary">Account Type</span>
                  <span class="col text-success">{{
                    identificationDetails["accountType"]
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 content3 px-4">
          <div class="head3 mb-3 mt-3">
            <span class="title">Security Details</span>
            <span class="edit"
              ><img
                src="./assets/images/register/editicon.png"
                alt="editicon"
                width="16px"
              />
              Edit</span
            >
          </div>
          <div class="container3">
            <div class="rows1 row">
              <span class="col text-secondary">Question 1</span
              ><span class="col text-success">{{ securityDetails[2] }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Answer 1</span
              ><span class="col text-success">{{ securityDetails[3] }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary"> Question 2</span
              ><span class="col text-success">{{ securityDetails[0] }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Answer 2</span
              ><span class="col text-success">{{ securityDetails[1] }}</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary"
                >Are you a Politically Exposed Person (pepp)</span
              ><span class="col text-success">No</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">
                Are you the family member of a Politically Exposed Person
                (pep)?</span
              ><span class="col text-success">No</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary"
                >Are you a close associate of a Politically Exposed Person
                (pep)?</span
              >
              <span class="col text-success">No</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Box2">
      <div class="btnContainer d-flex w-100 justify-content-center">
        <button type="button" class="btn btn1 bg-secondary text-white">
          Back
        </button>
        <button
          type="button"
          (click)="reviewApi()"
          class="btn btn1 bg-success text-white"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
