<div class="registeration">
  <div class="out-container">
    <div>Registration (Review)</div>
    <div class="imgc"><img src="./assets/images/register/signup-5.png" /></div>
  </div>
  <div class="outerBox">
    <div class="Box1">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 content1 px-4">
          <div class="head1 mb-1">
            <span
              ><img
                src="./assets/images/register/front-upload.png"
                alt="front-upload"
                width="75px"
            /></span>
            <span class="title">Personal Details</span>
            <span class="edit"
              ><img
                src="./assets/images/register/editicon.png"
                alt="editicon"
                width="16px"
              />
              Edit</span
            >
          </div>
          <div class="container1">
            <div class="rows1 row">
              <span class="col text-secondary">First Name</span
              ><span class="col text-success">Ashish</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Middle Name</span
              ><span class="col text-success">asaa</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Last Name</span
              ><span class="col text-success">s</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Date Of Birth</span
              ><span class="col text-success">05/04/2005</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Gender</span
              ><span class="col text-success">Male</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Country of Birth</span
              ><span class="col text-success">Australia</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Nationality</span>
              <span class="col text-success">Albania</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 content2">
          <div class="head2 mb-3">
            <span class="title">Permanent Address And Identification</span>
            <span class="edit"
              ><img
                src="./assets/images/register/editicon.png"
                alt="editicon"
                width="16px"
              />
              Edit</span
            >
          </div>
          <div class="container2">
            <div class="rows1 row">
              <span class="col text-secondary">Street Address</span
              ><span class="col text-success">ASDsaa</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Apartment/Suite</span
              ><span class="col text-success"> St.</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Parish</span
              ><span class="col text-success">Ann</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Town</span
              ><span class="col text-success">ALEXANDRA</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary"> District</span
              ><span class="col text-success">ALBION</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Email Address</span
              ><span class="col text-success"> a2@gmaiI.com</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">TRN</span>
              <span class="col text-success">111222233</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">ID Type</span>
              <span class="col text-success"> Driver's License</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">ID Number</span>
              <span class="col text-success">12e34Sg555 </span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">ID Expiration Date</span>
              <span class="col text-success">2023-04-15</span>
            </div>
            <div class="row11 mt-3 row">
              <span class="col">
                <div class="faded">
                  <div class="imgmainContainer d-flex justify-content-around">
                    <div class="img1container">
                      <label for="file-input">
                        <img
                          src="./assets/images/register/front-upload.png"
                          alt="Select an image"
                        />
                      </label>
                      <input
                        type="file"
                        id="file-input"
                        name="image"
                        accept="image/*"
                        style="display: none"
                      />
                    </div>
                    <div class="img1container">
                      <label for="file-input">
                        <img
                          src="./assets/images/register/back-upload.png"
                          alt="Select an image"
                        />
                      </label>
                      <input
                        type="file"
                        id="file-input"
                        name="image"
                        accept="image/*"
                        style="display: none"
                      />
                    </div>
                  </div>

                  <div class="IdName">
                    <span>(Front Of ID)</span>
                    <span>(Back Of ID)</span>
                  </div>
                </div></span
              >
            </div>
            <div class="rows1 row">
              <span class="col-8 text-secondary"
                >Would you like to opt for Cash transactions at the retail
                stores?</span
              >
              <span class="col text-success">No</span>
            </div>
            <div class="row13 row">
              <span class="col text-danger lastrow"
                >Please click here for additional inforrnation on tiers
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 content3 px-4">
          <div class="head3 mb-3 mt-3">
            <span class="title">Security Details</span>
            <span class="edit"
              ><img
                src="./assets/images/register/editicon.png"
                alt="editicon"
                width="16px"
              />
              Edit</span
            >
          </div>
          <div class="container3">
            <div class="rows1 row">
              <span class="col text-secondary">Question 1</span
              ><span class="col text-success"
                >Where did you meet your spouse?</span
              >
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Answer 1</span
              ><span class="col text-success">qwerty</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary"> Question 2</span
              ><span class="col text-success"
                >What was your dream job as a child?</span
              >
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">Answer 2</span
              ><span class="col text-success">Doctor</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary"
                >Are you a Politically Exposed Person (pepp)</span
              ><span class="col text-success">No</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary">
                Are you the family member of a Politically Exposed Person
                (pep)?</span
              ><span class="col text-success">No</span>
            </div>
            <div class="rows1 row">
              <span class="col text-secondary"
                >Are you a close associate of a Politically Exposed Person
                (pep)?</span
              >
              <span class="col text-success">No</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Box2">
      <div class="btnContainer d-flex w-100 justify-content-center">
        <button type="button" class="btn btn1 bg-secondary text-white">
          Back
        </button>
        <button
          type="button"
          (click)="reviewApi()"
          class="btn btn1 bg-success text-white"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
